body {
    text-align: center;
    padding: 30px;
    margin: 20px;
    font-family: 'Balsamiq Sans', cursive;
    background-color: #1f4068;
    color: whitesmoke;
}
text {
    color: whitesmoke;
}
#chart_div{
   height: 100%;
}

#regions_div{
    margin: 0px auto;
}

h4{
    padding: 10px;
    margin:5px;
}

img{
    width: 400px;
    height: 300px;
}

h1{
    margin: 10px auto;
    color: #e43f5a;
    border-right: solid 3px #EB1700;
    white-space: nowrap;
    overflow: hidden;
    animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}

.fas{
    font-size: 30px;
    color: #e43f5a;
}

span{
    color: #e43f5a;
    font-style: italic;
    font-weight: 100;
}

th , td {
    background-color: #162447!important;
}
#chart_div td {
    background-color: #1f4068!important ;
}

@keyframes animated-text{
    from{width: 0;}
    to{width: 460px;}
  }
  
  @keyframes animated-cursor{
    from{border-right-color: #EB1700;}
    to{border-right-color: transparent;}
  }
  

@keyframes example {
    from {width: 0px}
    to {width: 100%;}
}
